nav {
  background: #F1F5F9;
  border-bottom: 1px solid #E2E8F0;
  padding: .750rem 0;

  @include mobile() {
      display: none;

    &.is-active {
      display: block;
    }
  }

  .nav__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    @include mobile() {
      flex-direction: column;
      align-items: start;
    }

    .menu-item {
      margin-right: 1.5rem;

      &:last-child {
        margin-right: 0;
      }

      .menu-link {
        display: inline-flex;
        align-items: center;
        color: #64748B;
        font-size: 14px;

        @include mobile() {
            font-size: 16px;
        }

        &.menu-link--icon {
          font-weight: 500;
        }

        &:hover {
          color: $color-primary;
        }
      }

      .menu-item__icon {
        height: 16px;
        width: 16px;
        margin-left: 6px;
      }
    }
  }
}
