.header {
  border-bottom: 1px solid #E2E8F0;
  background: #fff;
  padding: 1rem 0;

  .header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header__left {
    display: flex;
    align-items: center;
  }

  .header__hamburger {
    display: none;
    border: 1px solid #E2E8F0;
    height: 56px;
    width: 56px;
    align-items: center;
    justify-content: center;
    @include radius(50%);

    .header__hamburger-icon {
      height: 24px;
      width: 24px;
      color: #94A3B8;
    }

    &:hover {
      background: #F1F5F9;
    }

    @include mobile() {
        display: flex;
    }
  }

  .header__right {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;

    @include mobile() {
      backdrop-filter: blur(10px);
      background-color: rgba($color-white, .64);
      border-top: 1px solid rgba($color-black, .08);
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 1rem;

      .buttons {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .i-button {
        font-size: 14px;
      }

      .i-button--circle {
        display: none;
      }
    }
  }

  .buttons {
    display: flex;
    align-items: center;
  }

  .header-basket {
    margin-left: 1.5rem;
    display: flex;
    align-items: center;
    border: 1px solid #E2E8F0;
    padding: 8px;
    min-width: 160px;
    @include radius(8px);

    .header-basket__icon {
      height: 24px;
      padding: 8px;
      background: #F1F5F9;
      @include radius(50%);
    }

    .header-basket__info {
      display: flex;
      flex-direction: column;
      margin-left: 8px;

      .header-basket__label {
        font-size: 10px;
        text-transform: uppercase;
        color: #94A3B8;
        font-weight: 500;
      }

      .header-basket__value {
        color: #334155;
        font-weight: 500;
        line-height: 1;
      }
    }

    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, .08);

      .header-basket__value {
        color: $color-primary;
      }
    }
  }
}
