body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  background: #fff;

  &.fixed {
    overflow: hidden;
  }
}

button {
  outline: none;
}

label:hover {
  cursor: pointer;
}

figure {
  margin: 0 !important;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

input {
  outline: none;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.main__content {
  padding: 4rem 0;

  @include mobile() {
    padding: 2rem 0;
  }
}

.container {
  max-width: $width;
  padding: 0 1rem;
  margin: 0 auto;

  &.container--md {
    max-width: $width-md;
  }

  &.container--sm {
    max-width: $width-sm;
  }
}

.empty {
  @include radius();
  background: #1E293B;
  padding: 3rem;
  flex-grow: 1;

  @include mobile-tablet() {
    padding: 1.5rem;
  }

  .empty__title {
    font-family: $font-heading;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: .5rem;
    color: $color-white;

    @include mobile() {
      font-size: 20px;
    }
  }

  .empty__message {
    color: rgba($color-white, .50);

    @include mobile() {
      font-size: 14px;
    }
  }

  &.empty--sm {
    padding: 2rem;

    .empty__title {
      font-size: 20px;

      @include mobile() {
        font-size: 16px;
      }
    }

    .empty__message {
      font-size: 14px;

      @include mobile() {
        font-size: 12px;
      }
    }
  }

  .empty__action {
    a {
      margin-top: 1.5rem;
      background: $color-primary;
      padding: .750rem 1.5rem;
      font-weight: 500;

      @include mobile() {
        margin-top: 1.5rem;
        padding: .750rem 1rem;
        font-size: 14px;
      }

      &:hover {
        background: darken($color-primary, 10%);
        color: $color-white;
      }
    }
  }
}

.loader {
  background: rgba(0, 0, 0, .32);
  position: fixed;
  display: none;
  visibility: hidden;
  z-index: 20;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  @include transition();

  &.loader--active {
    display: block;
    visibility: visible;
  }
}

.loadable {
  position: relative;
  z-index: 10;
  flex-grow: 1;

  .loadable__loader {
    background: rgba(0, 0, 0, .16);
    position: absolute;
    display: none;
    visibility: hidden;
    z-index: 20;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    cursor: pointer;
    @include transition();

    &.loadable__loader--active {
      display: block;
      visibility: visible;
    }
  }
}

.breadcrumbs {
  font-size: 14px;

  @include mobile() {
    display: none;
  }

  .breadcrumbs__divider {
    color: #c0c0c0;
  }

  .breadcrumbs__item {
    font-weight: 500;

    .breadcrumbs__link {
      color: $color-gray-dark;
      font-weight: 400;

      &:hover {
        color: $color-secondary;
      }
    }
  }
}

.i-button {
  border: 1px solid $color-primary;
  color: $color-primary;
  background: transparent;
  margin-right: 8px;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 18px;
  box-sizing: border-box;
  @include radius(24px);


  &:hover {
    background: $color-primary;
    color: $color-white;
  }

  &:last-child {
    margin-right: 0;
  }

  &.i-button--icon {
    display: inline-flex;
    align-items: center;
    font-weight: 500;

    .i-button__icon {
      fill: currentColor;
      width: 20px;
      height: 20px;
      margin-left: 8px;
    }
  }

  &.i-button--fill {
    background: $color-primary;
    color: $color-white;

    &:hover {
      background: darken($color-primary, 10%);
    }
  }

  &.i-button--circle {
    padding: 4px;
    @include radius(50%);

    &:hover {
      background: #F1F5F9;
    }
  }

  &.i-button--inverse {
    border-color: rgba($color-white, .12);
    background: rgba($color-white, .12);
    color: $color-white;


    &.i-button--fill {
      border-color: $color-primary;
      background: $color-primary;
    }


    &:hover {
      background: $color-white;
      border-color: $color-white;
      color: $color-primary;
    }

    &.i-button--circle {
      border-color: $color-white;
      background: $color-white;
    }
  }

  &.i-button--full {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    text-align: center;
  }
}

.heading {
  border-bottom: 1px solid #E2E8F0;
  background: #F1F5F9;
  padding: 2rem 0;

  .heading-title {
    margin: 0;

    span {
      color: $color-primary;
    }
  }

  .heading-body {
    margin-top: 1rem;
    font-size: 14px;
    color: rgba($color-black, .80);

    @include mobile() {
        font-size: 12px;
    }
  }
}
