/* purgecss start ignore */
@import "../../../../../node_modules/select2/src/scss/core";

.select2 {
  width: 100%;
  font-weight: 400 !important;
}

.select2-results__option {
  @include radius($radius);
}

.select2-selection__arrow {
  height: 44px !important;
  right: .750em !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: .750em !important;
  padding-right: .750em !important;
}

.select2-container--default .select2-selection--single {
  border-color: $color-background-light;
}

.select2,
.selection,
.select2-selection {
  width: 100% !important;
  height: 44px !important;
  outline: none;
}

.select2-selection__rendered {
  line-height: 44px !important;
  font-size: 14px !important;
  color: $color-text-regular;
}

.select2-wrapper {
  height: 44px;

  .select2-container {
    width: 100% !important;
    height: 44px;

    .select2-selection {
      transition: border-color 160ms;
      font-family: 'Ubuntu', sans-serif;
      color: $color-text-regular;
      font-size: 14px;
      line-height: 1.5;
      outline: none !important;
      display: inline-flex;
      align-items: center;
      width: 100%;
      border-color: $color-background-light;
      @include radius($radius);

      .select2-selection__rendered {
        padding-left: 0.5em;
        padding-right: 0.5em;
      }

      .select2-selection__arrow {
        height: 100%;
        top: 0px;
      }
    }

    &.select2-container--open {
      .select2-selection {
        border-color: $color-primary !important;

        &:hover {
          border-color: $color-primary !important;
        }
      }
    }
  }

  &.is-medium {
    .select2-container {
      .select2-selection {
        //font-size: $size-5;
      }
    }
  }

  &.is-large {
    .select2-container {
      .select2-selection {
        //font-size: $size-4;
      }
    }
  }
}

.select2-container {
  .select2-dropdown {
    box-shadow: 0 8px 16px rgba(0, 0, 0, .04);
    border-color: $color-background-light;

    .select2-search {
      background: #fafafa;
      margin: 0;
      padding: 8px;

      .select2-search__field {
        border: 1px solid $color-background-light;
        outline: none;
        font-size: 14px;
        font-family: 'Ubuntu', sans-serif;
        padding: 8px;
        @include radius($radius);
      }
    }

    .select2-results__options {
      max-height: 210px;
      padding: 8px;

      .select2-results__option {
        padding: 0.5em;
        font-family: 'Ubuntu', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: $color-text-regular;
        margin-bottom: 4px;
        @include transition();

        &:last-child {
          margin-bottom: 0;
        }

        &.select2-results__option--highlighted {
          background: #f5f5f5;
          color: $color-text-primary;
          cursor: pointer;
        }

        &[aria-selected="true"] {
          background: $color-primary;
          color: $color-white;
        }

        &.select2-results__message {
          color: $color-text-secondary;
          font-size: 12px;
        }
      }
    }
  }
}

.select2-container .select2-dropdown .select2-results__options--nested {
  max-height: 100% !important;
}

/* purgecss end ignore */
