.items-table {
  flex-grow: 1;
  border: 1px solid #E2E8F0;
  @include radius();

  @include mobile() {
    display: table;
  }

  .items-table__icon {
    width: 24px;
    height: 24px;
    color: rgba($color-black, .32);
    @include transition();

    @include mobile() {
      position: absolute;
      right: 1.5rem;
      bottom: 1.5rem;
    }

    &:hover {
      color: $color-secondary;
      cursor: pointer;
    }
  }

  tr {
    @include mobile() {
      border-bottom: 1px solid #E2E8F0;
      display: block;
      padding: 1.5rem;
      position: relative;
      width: 100%;
      box-sizing: border-box;
    }

    td, th {
      padding: 1.5rem;
      border-bottom: 1px solid #E2E8F0;

      @include mobile() {
        display: block;
        border-bottom: none;
        padding: 0 !important;
      }
    }

    &:last-child {
      td {
        border-bottom: none;
      }
    }
  }

  tbody {
    width: 100%;

    td {
      padding: 1rem 1.5rem;
      background: #fff;

      @include mobile() {
        width: 100%;
        box-sizing: border-box;
      }
    }
  }

  thead {
    width: 100%;

    th {
      background: #F1F5F9;
      color: #64748B;
      font-family: $font-default;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 14px;
      padding: 1rem 1.5rem;
    }

    @include mobile() {
      display: none;
    }
  }

  tfoot {
    width: 100%;

    tr {
      @include mobile() {
        background: #fff;
        border-bottom: 1px solid #E2E8F0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        th:nth-child(3) {
          display: none;
        }
      }

      th {
        background: #F1F5F9;
        border-bottom-color: #E2E8F0;
        font-weight: 500;
        padding: 1rem 1.5rem;
        font-size: 14px;
        text-transform: uppercase;
        color: $color-black;

        span {
          color: rgba($color-black, .40);
        }
      }
    }

    tr:last-child {
      @include mobile() {
        background: #F1F5F9;
      }

      th {
        background: #fff;
        color: $color-black;
        border-bottom: none;

        span {
          color: rgba($color-black, .40);
        }
      }
    }
  }

  .count__config {
    background: #1E293B;
    padding: .5rem;
    display: inline-flex;
    @include radius(64px);

    .count__value,
    .count__button {
      background: $color-white;
      border: none;
      font-weight: 500;
      font-size: 20px;
      text-transform: uppercase;
      text-align: center;
      color: #1E293B;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include radius();
      @include nonSelect();

      @include mobile() {
        font-size: 16px;
      }
    }

    .count__value {
      background: transparent;
      color: $color-white;
    }

    .count__button {
      @include transition();
      @include radius(50%);

      &:hover {
        background: $color-primary;
        color: $color-white;
        cursor: pointer;
      }
    }
  }

  .price {
    text-align: right;
    color: $color-black;

    @include mobile() {
      text-align: left;
    }

    .price__value {
      font-family: $font-default;
      font-size: 20px;
      font-weight: 500;
    }

    .price__prev {
      font-size: 14px;
      margin-top: .5rem;
      text-decoration: line-through;
      color: rgba($color-black, .32);

      @include mobile() {
        margin-top: 0;
        font-size: 12px;
      }
    }
  }

  .product {
    display: flex;
    width: auto;
    align-items: center;
    border-bottom: none;

    @include mobile() {
      margin-bottom: 1.5rem;
    }

    .product__media {
      width: 80px;
      height: 80px;
      line-height: 80px;
      padding: 1px;
      text-align: center;
      margin-right: 1.5rem;
      @include radius();

      .product__image {
        display: block;
        max-width: 80px;
        max-height: 80px;
      @include radius();
      }
    }

    .product__content {
      .product__name {
        font-family: $font-heading;
        text-transform: uppercase;
        font-weight: 500;
        line-height: 1;
        color: $color-black;
      }

      .product__price {
        color: rgba($color-black, .64);
        font-size: 14px;
        font-weight: 500;
        margin-top: 4px;
      }
    }
  }
}
