.basket {
  .checkout {
    width: 360px;
    margin-left: 3rem;

    @include mobile-tablet() {
      width: 100%;
      margin-top: 2rem;
      margin-left: 0;
    }

    .heading {
      display: none;

      @include mobile() {
        display: block;
      }
    }

    .info {
      font-size: 12px;
      color: rgba($color-white, .40);
      margin-top: 1rem;
    }

    form {
      box-shadow: 0 8px 16px rgba(0, 0, 0, .16), 0 16px 32px rgba(0, 0, 0, .32);
      background: #111;
      padding: 3rem;
      @include radius();
      @include boxShadow();

      @include mobile() {
        padding: 1.5rem;
      }
    }

    @include mobile_tablet-portrait() {
      width: auto;
      margin-left: 0;
      margin-top: 3rem;
    }
  }
}
