.home {
  .home-main {
    padding: 4rem 0;

    @include mobile() {
      padding: 2rem 0;
    }

    .home-main__grid {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-column-gap: 4rem;

      @include mobile-tablet() {
        grid-template-columns: 1fr;
        grid-row-gap: 2rem;
      }

    }
  }

  .testimonials {
    background: #F1F5F9;
    padding: 4rem 0;
    margin-bottom: -4rem;

    @include mobile() {
      padding: 2rem 0;
      margin-bottom: -2rem;
    }

    .testimonials-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2rem;

      @include mobile() {
        display: block;

        .i-button {
          display: none;
        }
      }

      .testimonial-title {
        font-family: $font-heading;
        font-size: 28px;
        font-weight: 500;
        line-height: 1;
        margin: 0;

        span {
          color: $color-primary;
        }
      }


    }

    .testimonials-list {
      display: flex;
      flex-wrap: wrap;

      @include mobile() {
        display: block;
      }
    }

    .testimonial {
      flex: 1 0 auto;
      margin: 1rem;
      width: 25%;
      box-sizing: border-box;
      background: $color-white;
      padding: 2rem;
      @include radius(8px);
      @include transition();

      @include mobile() {
        width: 100%;
        margin: 0 0 1rem 0
      }

      &:hover {
        box-shadow: 0 16px 32px #E2E8F0;
      }


      .testimonial-author {
        font-weight: 500;
        font-size: 14px;
        display: inline-block;
        margin-top: 1rem;
      }
    }
  }

  .categories {
    background-image: linear-gradient(135deg, #2563EB 0%, #1D4ED8 100%);
    margin-top: -4rem;
    padding: 4rem 0;

    @include mobile() {
      padding: 2rem 0;
      margin-top: -2rem;
    }

    @include mobile() {
        margin-top: -2rem;
    }

    .categories__main .category {
      width: 100%;
      display: block;
    }

    .categories__content {
      display: grid;
      grid-template-columns: 1fr 3fr;
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;

      @include mobile() {
          grid-template-columns: 1fr;
      }
    }

    .categories__grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;

      @include mobile() {
          grid-template-columns: 1fr 1fr;
      }
    }

    .category {
      background: $color-white;
      @include radius(8px);
      @include transition();

      &:hover {
        box-shadow: 0 16px 32px rgba($color-black, .24);
        transform: scale(1.025);

        .category-image {
          filter: grayscale(0%) !important;
        }
      }

      .category-image {
        z-index: 10;
      }

      .category-content {
        position: relative;
        z-index: 11;

        .category-label {
          font-size: 14px;
          color: #94A3B8;
          font-weight: 300;
          font-family: $font-heading;
          text-transform: uppercase;
        }

        .category-name {
          font-weight: 500;
          color: $color-primary;
          font-family: $font-heading;
          text-transform: uppercase;
        }
      }


      &.category--main {
        .category-content {
          position: absolute;
          left: 1.5rem;
          bottom: 1.5rem;
        }

        .category-image {
        }

        @include tablet() {
          .category-image {
            right: -140%;
            top: -20%;
          }
        }

        @include mobile() {
          .category-label {
            font-size: 16px;
          }

          .category-name {
          font-size: 18px;
          }

          .category-image {
            right: -25%;
          }
        }
      }
    }
  }
}
