.message {
  background: $color-background-lighter;
  color: $color-text-regular;
  margin: 0 0 1em 0;
  padding: 1em;
  @include radius($radius);

  a {
    border-bottom-color: lighten($color-text-regular, 40%);
    color: $color-text-regular;

    &:hover {
      border-bottom: none;
    }
  }

  p {
    font-size: .750em;
    margin: 0;
  }

  &.message--xl {
    text-align: center;
    padding: 8em;
    margin: 0;

    p {
      font-size: 1.5em;
    }
  }

  &.message--success {
    box-shadow: 0 4px 8px rgba(103, 194, 58, 0.08);
    background: lighten($color-success, 40%);
    color: darken($color-success, 20%);

    a {
      border-bottom-color: lighten($color-success, 20%);
      color: darken($color-success, 20%);

      &:hover {
        border-bottom: none;
      }
    }
  }

  &.message--warning {
    box-shadow: 0 4px 8px rgba(230, 162, 60, 0.08);
    background: lighten($color-warning, 30%);
    color: darken($color-warning, 20%);

    a {
      border-bottom-color: lighten($color-warning, 20%);
      color: darken($color-warning, 20%);

      &:hover {
        border-bottom: none;
      }
    }
  }

  &.message--danger {
    box-shadow: 0 4px 8px rgba(245, 108, 108, 0.08);
    background: lighten($color-danger, 20%);
    color: darken($color-danger, 20%);

    a {
      border-bottom-color: lighten($color-danger, 20%);
      color: darken($color-danger, 20%);

      &:hover {
        border-bottom: none;
      }
    }
  }
}
