.form-field {
  margin-bottom: 1.5rem;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1.5rem;

  &.form-grid--3 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include mobile() {
    grid-template-columns: 1fr !important;
    grid-row-gap: 1rem;
  }
}

.form-label {
  color: rgba($color-black, .64);
  font-family: $font-default;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
  display: block;
  margin-bottom: 8px;

  strong {
    color: $color-secondary;
    margin-left: 2px;
  }

  .form-help {
    margin: 0 0 0 1rem;
    color: rgb($color-black, .40);
  }
}

.form-help {
  font-size: 12px;
  font-weight: 500;
  margin-top: .5rem;

  &.form-help--error {
    color: red;
  }
}

.form-input {
  border: 1px solid #E2E8F0;
  background: #fff;
  box-sizing: border-box;
  color: $color-black;
  padding: 1rem;
  display: block;
  outline: none;
  width: 100%;
  line-height: 1;
  resize: none;
  @include radius(4px);
  @include transition();

  @include mobile() {
    font-size: 14px;
    padding: 1.125rem;
  }

  &:disabled {
    cursor: not-allowed !important;
  }

  &:focus {
    border-color: $color-primary;
  }

  &::-webkit-input-placeholder {
    color: rgba($color-black, .40);
  }

  &::-moz-placeholder {
    color: rgba($color-black, .40);
  }

  &:-moz-placeholder {
    color: rgba($color-black, .40);
  }

  &:-ms-input-placeholder {
    color: rgba($color-black, .40);
  }
}

input:not([type='radio']):not([type=checkbox]),
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
}

.form-select {
  position: relative;
  cursor: pointer;

  select {
    cursor: pointer;
  }

  &::after {
    top: calc(50% + 8px);
    right: 12px;
    content: "";
    width: 16px;
    height: 8px;
    background: #f0f0f0;
    position: absolute;
    display: block;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    @include transition();

    @include mobile() {
      right: 16px;
    }
  }

  &:hover {
    select {
      border-color: $color-primary !important;
    }

    &::after {
      background: $color-primary;
    }
  }
}

.form-button {
  margin-top: 1.5rem;
  color: $color-white;
  font-family: $font-default;
  text-align: center;
  background: $color-secondary;
  box-sizing: border-box;
  padding: 1rem 2rem;
  font-weight: 600;
  outline: none;
  border: none;
  display: inline-block;
  @include radius();
  @include nonSelect();
  @include transition();


  @include mobile() {
    margin-top: 2rem;
    padding: 1.125rem 1.5rem;
    font-size: 16px;
    display: block;
    width: 100%;
  }

  &.form-button--full {
    display: block;
    width: 100%;
  }

  &:hover {
    background: darken($color-secondary, 10%);
  }

  &.--secondary {
    background: $color-primary;

    &:hover {
      background: darken($color-primary, 10%);
    }
  }
}

.form-checkbox {
  display: grid;
  grid-template-columns: 16px 1fr;
  align-items: center;
  grid-column-gap: 4px;

  .form-checkbox__label {
    color: $color-gray;
    font-size: 14px;
    font-weight: 500;
  }

  .form-checkbox__input {
    width: 20px;
    height: 20px;

    &:focus {
      box-shadow: none;
    }
  }
}
