$color-black: #121212;
$color-dark: #231F20;
$color-gray-dark: #4e4e4e;
$color-gray: #6c6c6c;
$color-gray-light: #b4b4b4;
$color-white: #FFFFFF;
$color-primary: #1D4ED8;
$color-secondary: #E40613;
$color-green: #7fc527;

$font-default: 'Roboto', sans-serif;
$font-heading: 'Oswald', sans-serif;

$width: 1240px;
$width-md: 980px;
$width-sm: 480px;
