body {
  font-family: $font-default;
  color: $color-black;
  line-height: 1.4;
  font-size: 16px;
}

input,
textarea,
select,
button {
  font-family: $font-default;
  font-size: 14px;
  color: $color-dark;
  line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-default;
  color: $color-black;
  font-weight: 600;
  line-height: 1.2;
}
